.megatron {
  background:linear-gradient(217deg, rgba(198, 255, 221, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(251, 215, 134, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(247, 121, 125, 0.8), transparent 71%);
}
.moonlit-asteroid {
  background:linear-gradient(217deg, rgba(15, 32, 39, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(32, 58, 67, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(44, 83, 100, 0.8), transparent 71%);
}
.jshine {
  background:linear-gradient(217deg, rgba(18, 194, 233, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(196, 113, 237, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(246, 79, 89, 0.8), transparent 71%);
}
.cool-sky {
  background:linear-gradient(217deg, rgba(41, 128, 185, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(109, 213, 250, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(255, 255, 255, 0.8), transparent 71%);
}
.memariani {
  background:linear-gradient(217deg, rgba(170, 75, 107, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(107, 107, 131, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(59, 141, 153, 0.8), transparent 71%);
}
.azur-lane {
  background:linear-gradient(217deg, rgba(127, 127, 213, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(134, 168, 231, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(145, 234, 228, 0.8), transparent 71%);
}
.wiretap {
  background:linear-gradient(217deg, rgba(138, 35, 135, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(233, 64, 87, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(242, 113, 33, 0.8), transparent 71%);
}
.rastafari {
  background:linear-gradient(217deg, rgba(30, 150, 0, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(255, 242, 0, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(255, 0, 0, 0.8), transparent 71%);
}
.magic {
  background:linear-gradient(217deg, rgba(89, 193, 115, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(161, 127, 224, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(93, 38, 193, 0.8), transparent 71%);
}
.red-sunset {
  background:linear-gradient(217deg, rgba(53, 92, 125, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(108, 91, 123, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(192, 108, 132, 0.8), transparent 71%);
}
.wedding-day-blues {
  background:linear-gradient(217deg, rgba(64, 224, 208, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(255, 140, 0, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(255, 0, 128, 0.8), transparent 71%);
}
.lawrencium {
  background:linear-gradient(217deg, rgba(15, 12, 41, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(48, 43, 99, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(36, 36, 62, 0.8), transparent 71%);
}
.king-yna {
  background:linear-gradient(217deg, rgba(26, 42, 108, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(178, 31, 31, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(253, 187, 45, 0.8), transparent 71%);
}
.subu {
  background:linear-gradient(217deg, rgba(12, 235, 235, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(32, 227, 178, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(41, 255, 198, 0.8), transparent 71%);
}
.relay {
  background:linear-gradient(217deg, rgba(58, 28, 113, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(215, 109, 119, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(255, 175, 123, 0.8), transparent 71%);
}
.jodhpur {
  background:linear-gradient(217deg, rgba(156, 236, 251, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(101, 199, 247, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(0, 82, 212, 0.8), transparent 71%);
}
.radar {
  background:linear-gradient(217deg, rgba(167, 112, 239, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(207, 139, 243, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(253, 185, 155, 0.8), transparent 71%);
}
.instagram {
  background:linear-gradient(217deg, rgba(131, 58, 180, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(253, 29, 29, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(252, 176, 69, 0.8), transparent 71%);
}
.atlas {
  background:linear-gradient(217deg, rgba(254, 172, 94, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(199, 121, 208, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(75, 192, 200, 0.8), transparent 71%);
}
.stripe {
  background:linear-gradient(217deg, rgba(31, 162, 255, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(18, 216, 250, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(166, 255, 203, 0.8), transparent 71%);
}
.monte-carlo {
  background:linear-gradient(217deg, rgba(204, 149, 192, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(219, 212, 180, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(122, 161, 210, 0.8), transparent 71%);
}
.hazel {
  background:linear-gradient(217deg, rgba(119, 161, 211, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(121, 203, 202, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(230, 132, 174, 0.8), transparent 71%);
}
.royal-blue-petrol {
  background:linear-gradient(217deg, rgba(187, 210, 197, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(83, 105, 118, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(41, 46, 73, 0.8), transparent 71%);
}
.lunada {
  background:linear-gradient(217deg, rgba(84, 51, 255, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(32, 189, 255, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(165, 254, 203, 0.8), transparent 71%);
}
.bluelagoo {
  background:linear-gradient(217deg, rgba(0, 82, 212, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(67, 100, 247, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(111, 177, 252, 0.8), transparent 71%);
}
.combi {
  background:linear-gradient(217deg, rgba(0, 65, 106, 0.8), transparent 71%),
  linear-gradient(127deg, rgba(121, 159, 12, 0.8), transparent 71%),
  linear-gradient(336deg, rgba(255, 224, 0, 0.8), transparent 71%);
}
